/* Background-colors */
$bg-primary: #FFFFFF;
$bg-secondary: #303030;

/* Colors */
$primary-color: #FFFFFF;
$secondary-color: #202020;
$tertiary-color: #2270af;
$quaternary-color: #226fafb7;
$edit-color: #007bff;
$danger-color: #f32013;
