/* Background-colors */
$bg-primary: #f3e2fc;
$bg-secondary: #4c4250;

/* Colors */
$primary-color: #FFFFFF;
$secondary-color: #202020;
$tertiary-color: #a119e1;
$quaternary-color: #8d16c5;
$edit-color: #007bff;
$danger-color: #f32013;
