<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title mt-0"><b>Categorias</b></h5>
    <div class="card-text">
      <div *ngIf="categories | async as category">
        <div
          *ngFor="
            let c of category
              | paginate
                : { id: 'categoryPagination', itemsPerPage: 10, currentPage: c }
          "
        >
          <p class="m-1">{{ c.title }}</p>
        </div>
        <br>
        <pagination-controls
          id="categoryPagination"
          class="w-100"
          (pageChange)="c = $event"
          previousLabel="Anterior"
          nextLabel="Proxima"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
        >
          ></pagination-controls
        >
      </div>
    </div>
  </div>
</div>
