@import "../../../../../assets/scss/variables.scss";

@media (max-width: 700px) {
  .btn {
    width: 100%;
  }
}

.icons {

  cursor: pointer;
  #view {
    fill: $tertiary-color;
  }

  #edit {
    fill: $edit-color;
  }

  #delete {
    fill: $danger-color;
  }

}
