<div class="card shadow">
  <div class="card-body">
    <div class="card-text">
      <div *ngIf="articles | async as article;">
        <div
          *ngFor="
            let a of article | paginate: { id: 'articlePagination', itemsPerPage: 5, currentPage: a }
          "
        >
      <div class="card text-left w-100">
        <div class="card-body">
          <h3 class="card-title"><b>{{ a.title }}</b></h3>
          <p class="mb-0"><b>Por: {{ a.author }}</b></p>
          <p class="mb-0" style="font-size: 10px;"><i>Publicado em {{ a.createdAt | date:'dd/MM/yyyy HH:mm' }}h</i></p>
          <div *ngIf="a.createdAt != a.updatedAt"><p style="font-size: 10px;"><i>Atualizado em {{ a.updatedAt | date:'dd/MM/yyyy HH:mm' }}h</i></p></div>
          <hr>
          <div class="body">
            <div class="card-text" [innerHtml]="a.body | safeHtml">
          </div>
        </div>
        <button type="button" class="btn btn-default" (click)="goToDetailArticle(a.slug)">VER MAIS</button>
        </div>
      </div>
      <hr>
        </div>
        <br>
        <pagination-controls
        id="articlePagination"
          class="w-100"
          (pageChange)="a = $event"
          previousLabel="Anterior"
          nextLabel="Proxima"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
        >
          ></pagination-controls
        >
      </div>
    </div>
  </div>
</div>
