@import '../../../assets/scss/variables.scss';

body {
  background-color: transparent !important;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

#user-icon {
  fill: $tertiary-color;
}

@media (min-width: 901px) {
  .card {
    max-width: 25%
  }
}
@media (min-width: 577px) and (max-width: 900px) {
  .card {
    max-width: 50%
  }
}

@media (max-width: 575px) {
  .card {
    max-width: 95%
  }
}
