@import '../../../assets/scss/variables.scss';

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.btn {
  background-color: $tertiary-color;
  color: $primary-color;
}

#user-icon {
  fill: $tertiary-color;
}

@media (min-width: 576px) {
  .card {
    max-width: 25%
  }
}

@media (max-width: 575px) {
  .card {
    max-width: 95%
  }
}
