<app-header></app-header>
<div class="row mt-5 mb-5">
  <div class="col articles">
    <div class="card container-fluid p-0 shadow">
      <div class="card-body">
        <h1 class="card-title mt-0"><b>Seja bem-vindo!</b></h1>
        <p class="card-text">
          Este é um blog genérico feito com nodejs e angular.
        </p>
      </div>
    </div>
  </div>
  <div class="col categories">
    <div class="card container-fluid p-0 shadow">
      <div class="card-body">
        <h6 class="card-title mt-0"><b>Categorias:</b></h6>
        <div class="card-text">
          <p class="pb-1 m-0"><i>Todas</i></p>
          <p class="pb-1 m-0"><i>Desenvolvimento-web</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
