
@import '~normalize.css';
@import './assets/scss/variables.scss';

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  height: 100%;
}

body { margin: 0; font-family: 'Montserrat', "Helvetica Neue", sans-serif;
background-color: transparent;
}

main {
  height: 100vh;
}

.btn-default {
  font-size: 13px;
  font-weight: bold;
  border-radius: 15px;
  background: linear-gradient(0deg, $quaternary-color 0%, $tertiary-color 34%);
  color: $primary-color;
  border-color: $tertiary-color;
}

.btn-default:hover {
  color: $primary-color;
  background: linear-gradient(0deg, $tertiary-color 0%, $quaternary-color 34%);
  border-color: $quaternary-color;
}

.btn-default:focus,
.btn-default.focus {
  box-shadow: 0 0 0 .2rem $tertiary-color;
}

:root {
  height: auto;
  background-color: $bg-primary;
}

:root .dark-theme {
  background-color: $bg-secondary;
  min-height: 100%;
}
