<main>
  <app-header></app-header>
  <div class="mr-3 ml-3 d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid mt-5 w-75 shadow-sm">
      <div class="container">
        <h1 class="display-3">Seja bem-vindo!</h1>
        <p class="lead">
          Seja bem-vindo ao painel de controle do blog, aqui você poderá criar,
          editar e excluir artigos e categorias.
        </p>
        <hr class="my-2" />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row m-0 w-75 container-fluid wrapper">
      <app-list-articles
        class="articles mt-4"
        [articles]="articles$"
      ></app-list-articles>
      <app-list-categories
        class="categories mt-4"
        [categories]="categories$"
      ></app-list-categories>
    </div>
  </div>
</main>
